.inner-container {
  	width:400px;
  	height:400px;
  	position:absolute;
  	overflow:hidden;
  	font: 14px arial;
  	border: 1px solid #e6e6e6;
}

.box {
  	position:absolute;
  	height:100%;
  	width:100%;
  	padding:30px 0px;
}

.box h2 {
	text-align: center;
	color: #a6a6a6;
}

.align {
	text-align: center;
}

.align li {
	list-style: none;
	display: inline-block;
}

.align ul {
	padding: 0;
}

.align1 {
	margin-left: 35px;
}

.align1 a {
	text-decoration: none;
	color: #3472b2;
}

.align1 a:hover {
	text-decoration: underline;
}

.login_op {
	background-color: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));
	background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background: -ms-linear-gradient(top, #ffffff, #f2f2f2);
    background: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background: linear-gradient(top, #ffffff, #f2f2f2);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
	padding: 15px;
	margin: -2px 15px; 
	border: 1px solid #cccccc;
	font-weight: bold;
}

.login_op:hover {
	opacity:.80;
	cursor: pointer;
	color: #ec2229;
}

.login_field {
	display:block;
	width:300px;
	margin:18px auto;
	padding:10px;
}

.login_btn {
	background-color: #ec2229;
	background: -webkit-gradient(linear, left top, left bottom, from(#ec2229), to(#e84547));
	background: -webkit-linear-gradient(top, #ec2229, #e84547);
	background: -moz-linear-gradient(top, #ec2229, #e84547);
    background: -ms-linear-gradient(top, #ec2229, #e84547);
    background: -o-linear-gradient(top, #ec2229, #e84547);
    background: linear-gradient(top, #ec2229, #e84547);
    border: 1px solid #e84547;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: inset 0 1px 0 0 #9e1d22;
    -webkit-box-shadow: 0 1px 0 0 #9e1d22 inset;
    -moz-box-shadow: 0 1px 0 0 #9e1d22 inset;
    -ms-box-shadow: 0 1px 0 0 #9e1d22 inset;
    -o-box-shadow: 0 1px 0 0 #9e1d22 inset;
	color: #ffffff;
	display:block;
	width:320px;
	margin:15px auto;
	padding:5px;
	font-size: 20px;
	text-shadow: 0 -1px 0 #e84547;
}

.login_btn:hover {
    opacity:.92;
    cursor: pointer; 
}

.login_btn:active {
    border: 1px solid #9e1d22;
    box-shadow: 0 0 3px 1px #ff3333 inset; 
    -webkit-box-shadow:0 0 3px 1px #ff3333 inset ;
    -moz-box-shadow: 0 0 3px 1px #ff3333 inset;
    -ms-box-shadow: 0 0 3px 1px #ff3333 inset;
    -o-box-shadow: 0 0 3px 1px #ff3333 inset; 
}